@font-face {
    font-family: "Satoshi";
    src: url("../public/fonts/Satoshi-Variable.ttf");
}

body {
    font-family: "Satoshi", sans-serif;
    background-image: url('bg.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.App {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.wishes {
    display: flex;
    gap: 1rem;
    width: 14.875rem;
    justify-content: center;
    margin-top: 4rem;



}

.img {
    width: 8rem;
    height: 10rem;
    flex-shrink: 0;
}

.wish {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.link {
    color: var(--black, #292F36);
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0;
    margin: 0;
}

.linkActive {
    color: var(--black, #292F36);
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    text-decoration-line: underline;
    padding-right: 1rem;
    padding-left: 1rem;

}

.header {
    color: var(--black, #292F36);
    text-align: center;
    font-size: 64px;
    font-style: normal;
    font-weight: 500;
    margin-top: 1rem;
    height: fit-content;
    margin: 0;

}

img {
    object-fit: cover;
    width: 200px;
    height: 300px;
    background-color: aliceblue;
}

.delete {
    color: #292F36;
    text-align: center;
    font-family: "Satoshi Variable";
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: none;
    border-radius: 0.125rem;
    border: 1px solid #292F36;
    width: 4.75rem;
    height: 2.0625rem;
    flex-shrink: 0;
    margin-top: 1rem;
}

.update {
    color: rgba(41, 47, 54, 0.60);
    text-align: center;
    font-family: "Satoshi Variable";
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: none;
    border-radius: 0.125rem;
    border: 1px solid rgba(41, 47, 54, 0.60);
    width: 4.75rem;
    height: 2.0625rem;
    flex-shrink: 0;
    margin-top: 1rem;

}

.updateText {
    color: rgba(41, 47, 54, 0.60);
    text-align: center;
    font-family: "Satoshi Variable";
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

input {
    width: 250px;
    padding: 10px;
    border: 1px solid gray;
}

.formButton {
    border: none;
    padding: 10px;
    background: #292F36;

    cursor: pointer;
    width: 150px;
    color: #E3E3E3;

    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.add {

    border-radius: 0.625rem;
    background: #292F36;
    border: none;
    width: 13.5rem;
    height: 3.1875rem;
    flex-shrink: 0;
    margin-top: 1rem;

}

.addText {
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 1.5625rem;
    font-style: normal;
    font-weight: 500;
}

.title {
    color: #000;
    text-align: center;
    font-family: "Satoshi Variable";
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
}

.desc {
    color: #000;
    text-align: center;
    font-family: "Satoshi Variable";
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

.price {
    color: #000;
    text-align: center;
    font-family: "Satoshi Variable";
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}


.img1 {
    object-fit: cover;
    text-align: centerli;
    width: 200px;
    height: 300px;
    background-color: aliceblue;
}